body {	
    font-size: 1.1em;
    font-weight: normal;
    font-family: Courier New;
    color: black;
    text-align: left;
    background-image: url(http://pldh.net/media/gallery/the493/pelipper.jpg)
	}
h1 {
    font-size: 2em;
    font-weight: bold;
    color: darkblue;
    text-align: center;
	}
h2 {
	font-size: 1.3em;
	font-style: italic;
	color: darkblue;
	}
div {
	max-width: 1000px;
	padding-left: 10px;
	border: 5px #5C94BF;
	border-style: solid;
	border-radius: 10px;
	background: white;
	}
p {
	font-size: 1em;
	}
a:link {
    color: blue;
}
/* visited link */
a:visited {
    color: black;
}
/* mouse over link */
a:hover {
    color: red;
}


caption {
	color: darkblue;
	font-weight: bold;
	font-size: 1.8em;
	}
	
table,th,td {
border: 2px solid #5C94BF;
border-collapse: collapse;
background: white;
}

nav {
    alignment-adjust: middle;
    width: 99%;
    background: white;
    border: 5px solid #5C94BF;
	padding-top: 1em;
	padding-bottom:1em;
    border-radius: 10px
}
 
nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
 
nav ul li {
    list-style: none;
	float: left;
    text-align: center;
    border-right: 2px;
    width: 14.285%; /* fallback for non-calc() browsers */
    width: calc(100% / 7);
    box-sizing: border-box;
}
 
.temp {
	font-style: italic
	}

#overview:first-letter {
   font-size: 2em; 
}
